<a href="https://colab.research.google.com/github/seo-jeong-bang/like_code/blob/main/2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#조건문
x=15
if x >= 10:
  print(x)


score=80
if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
     print("C")
else:
    print("D")


score=85
if score >=70:
  print("성적이 70점 이상입니다")
  if score >=90:
    print("우수한 성적입니다")
else:
  print("성적이 70점 미만입니다.")    
  print("조금 더 분발하세요")

15
B
성적이 70점 이상입니다

In [21]:
score=85
result="succsee" if score>=80 else "fail"

print(result)

succsee

In [22]:
a=[1,2,3,4,5,5,5,]
remove_set={3,5}

result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [35]:
#반복문
#while문
i=1
result=0
while i<=9:
     result+=i
     i+=1
print(result)




i=1
result=0
while i<=9:
  if i %2==1:
    result +=i
  i+=1
print(result)    

#for문
result=0
for i in range(1,10):
  result +=i
print(result)


scores=[90,85,77,65,97]

for i in range(5):
  if scores[i]>=80:
    print(i+1,"번 학생은 합격입니다.")




scores=[90,85,77,65,97]
cheating_list={2,4}
for i in range(5):
    if i in cheating_list:
        continue
    if scores[i]>=70:
      print(i+1,"번 학생은 합격입니다")

45
25
45
1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.
1 번 학생은 합격입니다
2 번 학생은 합격입니다

In [34]:
for i in range (2,10):
     for j in range (1,10):
        print(i,"x",j,"=",i*j)    
     print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [44]:
#def 함수명 (매개변수):
  #실행할 소스코드
  #return 반환값


def add(a,b):
  return a+b
print(add(3,7))


def add(a,b):
  print('함수의 결과:',a+b)
add(3,7)


def add(a,b):
  print('함수의 결과:',a+b)
add(b=3,a=7)



a=0
def func():
  global a
  a+=1
for i in range(10):
  func()
print(a)



def add(a,b):
  return a+b
#일반적인 add 매서드 사용
print(add(3,7))

#람다 표현식으로 구현한 add() 메서드
print(lambda a,b:a+b)(3,7))

10
함수의 결과: 10
함수의 결과: 10
10