<a href="https://colab.research.google.com/github/seo-jeong-bang/like_code/blob/main/%EA%B8%B0%EC%B4%88%20%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
a={}
b={"이름":"방서정","나이":"24살"}
print(b["이름"])
print(b["나이"])
b["성별"]="여자"
print(b)
print(b.get('이름'))
print(b["성별"])
print(b.get('성별'))

print(b.keys())
print(b.items())

방서정
24살
{'이름': '방서정', '나이': '24살', '성별': '여자'}
방서정
여자
여자
dict_keys(['이름', '나이', '성별'])
dict_items([('이름', '방서정'), ('나이', '24살'), ('성별', '여자')])

In [15]:
singer={}

singer["이름"]="방탄소년단"
singer["구성원 수"]="7명"
singer["타이틀곡"]="다이너마이트"

for x in singer.keys():
  print('%s ----> %s'%(x,singer[x]))

이름 ----> 방탄소년단
구성원 수 ----> 7명
타이틀곡 ----> 다이너마이트

In [ ]:
#오늘의 점심메뉴
foods={"마라탕":"14000원","짜장면":"6000원","우동":"4000원","탕수육":"12000원"}

In [26]:
#if문

a=160
if a<100:
    print("100보다 작군요")
    print("작은 수군요")

print("반갑습니다")



a=int(input("숫자를 입력하세요:"))

if a%2==0:
  print("짝수입니다")
else:
  print("홀수입니다")

반갑습니다
숫자를 입력하세요:52
짝수입니다

In [37]:
# 성적표 만들기

score=int(input("점수를 입력하세요:"))
if score==100:
  print("만점입니다")
else:
    if score>90:
       print("A")
    else:
      if score>70:
        print("B")
      else:
          if score>50:
            print("C")
          else:
              print("D")

점수를 입력하세요:30
D

In [39]:
# 성적표 만들기

score=int(input("점수를 입력하세요:"))
if score==100:
  print("만점입니다")
elif score>90:
       print("A")
elif score>70:
        print("B")
elif score>50:
            print("C")
else:
              print("D")

점수를 입력하세요:80
B

In [45]:
import random

numbers=[]
for num in range(0,50):
    numbers.append(random.randrange(0,50))

print("숫자",numbers)

for num in range(0,50):
  if num not in numbers:
    print("%d 는 리스트에 없네요"%num)

숫자 [12, 43, 20, 29, 15, 7, 4, 41, 18, 5, 0, 32, 45, 30, 3, 37, 1, 24, 41, 49, 33, 30, 5, 24, 37, 37, 12, 35, 19, 30, 11, 32, 38, 43, 12, 25, 10, 18, 11, 8, 42, 0, 35, 48, 2, 28, 30, 16, 28, 24]
0 는 리스트에 있네요
1 는 리스트에 있네요
2 는 리스트에 있네요
3 는 리스트에 있네요
4 는 리스트에 있네요
5 는 리스트에 있네요
7 는 리스트에 있네요
8 는 리스트에 있네요
10 는 리스트에 있네요
11 는 리스트에 있네요
12 는 리스트에 있네요
15 는 리스트에 있네요
16 는 리스트에 있네요
18 는 리스트에 있네요
19 는 리스트에 있네요
20 는 리스트에 있네요
24 는 리스트에 있네요
25 는 리스트에 있네요
28 는 리스트에 있네요
29 는 리스트에 있네요
30 는 리스트에 있네요
32 는 리스트에 있네요
33 는 리스트에 있네요
35 는 리스트에 있네요
37 는 리스트에 있네요
38 는 리스트에 있네요
41 는 리스트에 있네요
42 는 리스트에 있네요
43 는 리스트에 있네요
45 는 리스트에 있네요
48 는 리스트에 있네요
49 는 리스트에 있네요

In [ ]:
import random

numbers=[]
for num in range(0,50):
    numbers.append(random.randrange(0,50))

print("숫자",numbers)

for num in range(0,50):
  if num not in numbers:
    print("%d 는 리스트에 없네요"%num)

숫자 [12, 43, 20, 29, 15, 7, 4, 41, 18, 5, 0, 32, 45, 30, 3, 37, 1, 24, 41, 49, 33, 30, 5, 24, 37, 37, 12, 35, 19, 30, 11, 32, 38, 43, 12, 25, 10, 18, 11, 8, 42, 0, 35, 48, 2, 28, 30, 16, 28, 24]
0 는 리스트에 있네요
1 는 리스트에 있네요
2 는 리스트에 있네요
3 는 리스트에 있네요
4 는 리스트에 있네요
5 는 리스트에 있네요
7 는 리스트에 있네요
8 는 리스트에 있네요
10 는 리스트에 있네요
11 는 리스트에 있네요
12 는 리스트에 있네요
15 는 리스트에 있네요
16 는 리스트에 있네요
18 는 리스트에 있네요
19 는 리스트에 있네요
20 는 리스트에 있네요
24 는 리스트에 있네요
25 는 리스트에 있네요
28 는 리스트에 있네요
29 는 리스트에 있네요
30 는 리스트에 있네요
32 는 리스트에 있네요
33 는 리스트에 있네요
35 는 리스트에 있네요
37 는 리스트에 있네요
38 는 리스트에 있네요
41 는 리스트에 있네요
42 는 리스트에 있네요
43 는 리스트에 있네요
45 는 리스트에 있네요
48 는 리스트에 있네요
49 는 리스트에 있네요

In [66]:
import random
for i in range(1,46):
  lotto=random.sample(range(1,46),6)
  lotto.sort()
print(lotto)

[10, 12, 17, 24, 36, 39]

In [71]:
import random
로또=random.sample(range(1,46),6)
print(로또)

[1, 25, 40, 5, 7, 45]

In [79]:
B=[172.5,162.9,161.7,160.1,161.8,159.2] 
sum=0
for b in B: 
   sum+=i 
print(sum/len(B))

167.20000000000002

In [73]:
A=[161.5,155.9,168.7,163.1,170.8,167.2]
sum=0
for i in A:
  sum+=i
print(sum/len(A))

164.53333333333333

In [9]:
for i in range(0,3,1):
   print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [15]:
for i in range(1,5,1):
  print("%d:안녕하세요"%i)

1:안녕하세요
2:안녕하세요
3:안녕하세요
4:안녕하세요

In [16]:
for i in range(1,4,2):
  print("%d:안녕하세요"%i)

1:안녕하세요
3:안녕하세요

In [17]:
for i in range(0,11,2):
  print("%d"%i)

0
2
4
6
8
10

In [18]:
for i in range(1,10,2):
  print("%d"%i)

1
3
5
7
9

In [20]:
i,sum=0,0

for i in range(1,101,1):
   sum=sum+i
print("1부터 100까지 합:%d"%sum)

1부터 100까지 합:5050

In [21]:
i,sum=0,0

for i in range(1,101,2):
  sum=sum+i
print("1부터100까지 홀수의 합:%d"%sum)

1부터100까지 홀수의 합:2500

In [25]:
i,sum=0,0
num=0

num=int(input("값 입력:"))

for i in range(1,num+1,1):
    sum=sum+i
print("1에서 %d까지의 합:%d"%(num,sum))

값 입력:39
1에서 39까지의 합:780

In [30]:
i,k=0,0
for i in range(2,10,1):
  for k in range(1,10,1):
    print("%dX%d=%2d"%(i,k,i*k))

2X1= 2
2X2= 4
2X3= 6
2X4= 8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1= 3
3X2= 6
3X3= 9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1= 4
4X2= 8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1= 5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1= 6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1= 7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1= 8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1= 9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

In [37]:
i,k,gugu=0,0,""
for i in range (2,10):
  gugu=gugu+("%d단"%i)
print(gugu)  

for i in range(1,10):
  gugu=""
  for k in range(2,10):
    gugu=gugu+str("%2dX%2d=%2d"%(k,i,(k*i)))
  print(gugu)

2단3단4단5단6단7단8단9단
 2X 1= 2 3X 1= 3 4X 1= 4 5X 1= 5 6X 1= 6 7X 1= 7 8X 1= 8 9X 1= 9
 2X 2= 4 3X 2= 6 4X 2= 8 5X 2=10 6X 2=12 7X 2=14 8X 2=16 9X 2=18
 2X 3= 6 3X 3= 9 4X 3=12 5X 3=15 6X 3=18 7X 3=21 8X 3=24 9X 3=27
 2X 4= 8 3X 4=12 4X 4=16 5X 4=20 6X 4=24 7X 4=28 8X 4=32 9X 4=36
 2X 5=10 3X 5=15 4X 5=20 5X 5=25 6X 5=30 7X 5=35 8X 5=40 9X 5=45
 2X 6=12 3X 6=18 4X 6=24 5X 6=30 6X 6=36 7X 6=42 8X 6=48 9X 6=54
 2X 7=14 3X 7=21 4X 7=28 5X 7=35 6X 7=42 7X 7=49 8X 7=56 9X 7=63
 2X 8=16 3X 8=24 4X 8=32 5X 8=40 6X 8=48 7X 8=56 8X 8=64 9X 8=72
 2X 9=18 3X 9=27 4X 9=36 5X 9=45 6X 9=54 7X 9=63 8X 9=72 9X 9=81

In [39]:
i=0
while i<3:
  print("%d:안녕하세요"%i)
  i=i+1

0:안녕하세요
1:안녕하세요
2:안녕하세요

In [42]:
i,sum=0,0

i=1
while i<101:
  sum=sum+i
  i=i+1
print("1에서 100까지의 합:%d"%sum)

1에서 100까지의 합:5050

In [51]:
a="             파     이     썬          "
print(a.strip())
print(a.rstrip())
print(a.lstrip())

파     이     썬
             파     이     썬
파     이     썬