<a href="https://colab.research.google.com/github/seo-jeong-bang/like_code/blob/main/%EC%BD%94%EB%93%9C%EC%97%85_%EA%B8%B0%EC%B4%88_%EC%98%88%EC%A0%9C_100%EB%AC%B8%EC%A0%9C_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1개의 단어를 입력받아 그대로 출력해보자.

In [9]:
a=str(input())
print(a)

안녕
안녕

In [10]:
a=str(input())
print(a)

안녕 하세요
안녕 하세요

실수 1개를 입력받아 정수 부분과 실수 부분으로 나누어 출력한다.

In [43]:
a,b = input().split('.')
print(a) 
print(b)

3.11
3
11

단어를 1개 입력받는다.

입력받은 단어(영어)의 각 문자를

한줄에 한 문자씩 분리해 출력한다.

In [56]:
a=list(input())
for i in range (0,len(a)):
   print("'%s'"%a[i])

hello
'h'
'e'
'l'
'l'
'o'

다섯 자리의 정수 1개를 입력받아 각 자리별로 나누어 출력한다.

In [78]:
a=list(input())
for i in range(0,len(a)):

  print("[%s0000]"%a[0])
  print('[%s000]'%a[1])
  print('[%s00]'%a[2])
  print('[%s0]'%a[3])
  print('[%s]'%a[4])

30283

TypeError: ignored

In [ ]:
a = list(input())
a[0] = int(a[0])*10000 
a[1] = int(a[1])*1000 
a[2] = int(a[2])*100 
a[3] = int(a[3])*10 
a[4] = int(a[4])*1 
print("[%d]" % a[0]) 
print("[%d]" % a[1]) 
print("[%d]" % a[2]) 
print("[%d]" % a[3]) 
print("[%d]" % a[4])

입력되는 시:분:초 에서 분만 출력해보자.

In [80]:
h,m,s=input().split(":")
print(int(m))

2:30:20
20

년월일을 출력하는 방법은 나라마다, 형식마다 조금씩 다르다.

년월일(yyyy.mm.dd)를 입력받아,

일월년(dd-mm-yyyy)로 출력해보자.

(단, 한 자리 일/월은 0을 붙여 두자리로, 년도도 0을 붙여 네자리로 출력한다.)

In [89]:
y,m,d=map(int,input().split('.')) 
print("%02d"%d,end='-')
print("%02d"%m,end='-')
print("%04d"%y)

2020.04.03
03-04-2020

입력된 실수를 소수점 이하 11자리까지 반올림하여 출력한다.


참고
%.11lf 를 사용하면 소수점 이하 11자리까지 출력된다.

In [95]:
a=float(input())
print(round(float(a),12))

3.3947937455222111
3.394793745522

In [96]:
a=float(input())
print("%0.11f"%a)

3.2937464638282
3.29374646383