<a href="https://colab.research.google.com/github/seo-jeong-bang/like_code/blob/main/%EC%BD%94%EB%93%9C%EC%97%85_%EA%B8%B0%EC%B4%88%EC%98%88%EC%A0%9C_100%EB%AC%B8%EC%A0%9C_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10진수를 입력받아 8진수(octal)로 출력해보자.

In [1]:
a=int(input())
print("%o"%a)

34
42

10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [2]:
a=int(input())
print("%x"%a)

34
22

10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

참고
%d(10진수 형태)로 입력받고
%X로 출력하면 16진수(hexadecimal) 대문자로 출력된다.

In [3]:
a=int(input())
print("%X"%a)

333333
51615

8진수로 입력된 정수 1개를 10진수로 바꾸어 출력해보자.

In [5]:
a=int(input(),8)
print("%d"%a)

33
27

16진수로 입력된 정수 1개를 8진수로 바꾸어 출력해보자.

In [9]:
a=int(input(),16)
print("%o"%a)

33
63

영문자 1개를 입력받아 아스키 코드표의 10진수 값으로 출력해보자.

In [11]:
a=ord(input())
print(a)

a
97

10진 정수 1개를 입력받아 아스키 문자로 출력해보자.

In [17]:
a=chr(int(input()))
print(a)

44
,

정수 2개를 입력받아 합을 출력하는 프로그램을 작성해보자.

In [20]:
a,b=map(int,input().split())
print(a+b)

33 4
37

입력된 정수의 부호를 바꿔 출력해보자.

In [21]:
a=int(input())
print(-a)

3
-3

영문자 1개를 입력받아 그 다음 문자를 출력해보자.

영문자 'A'의 다음 문자는 'B'이고, 영문자 '0'의 다음 문자는 '1'이다.

In [27]:
a = ord(input())
a = a+1
a = chr(a)

print(a)

a
b