<a href="https://colab.research.google.com/github/seo-jeong-bang/like_code/blob/main/%EC%BD%94%EB%94%A9%20%ED%85%8C%EC%8A%A4%ED%8A%B83%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#데이터 개수 입력
n=int(input("숫자를 입력"))
#각 데이터를 공백으로 구분하여 입력
data=list(map(int,input("숫자를 입력하세요").split()))
data.sort(reverse=True)
print(data)

숫자를 입력6
숫자를 입력하세요90 60 49 50 38 39 24
[90, 60, 50, 49, 39, 38, 24]

In [ ]:
#n,m,k를 공백으로 구분하여 입력
n,m,k=map(int,input().split())

print(n,m,k)

40 50 30
40 50 30

In [ ]:
import sys
data=sys.stdin.readline().rstrip()
print(data)

In [ ]:
"점수는 100 점입니다"
answer=100
print("정답은"+str(answer)+"점 입니다")
print("정답은",str(answer),"점 입니다.")
print(f"정답은{answer}점 입니다")

정답은100점 입니다
정답은 100 점 입니다.
정답은100점 입니다

In [ ]:
#내장함수

result=sum([1,3,4,5,6,7,4])
print(result)


result=min(7,3,4,5,6)
print(result)

result=max(3,4,5,6,7,8)
print(result)

result=eval("(3+5)*4*2")
print(result)


result=sorted([2,5,6,3,1,4])
print(result)

result=sorted([1,4,3,2,5],reverse=True)
print(result)

30
3
8
64
[1, 2, 3, 4, 5, 6]
[5, 4, 3, 2, 1]

In [ ]:
result=sorted([('짜장면','4000원'),('짬뽕','8000원'),('탕수육','14000원'),('울면','6000원'),('탕수육 대','18000원')],key=lambda x:x[1],reverse=True)
print(result)

[('탕수육 대', '18000원'), ('탕수육', '14000원'), ('짬뽕', '8000원'), ('짜장면', '4000원'), ('울면', '6000원')]

In [ ]:
#itertools
from itertools import permutations
data=['1','2','3']
result=list(permutations(data,3))
print(result)


from itertools import combinations
data=['a','b','c']
result=list(combinations(data,2))
print(result)


from itertools import product

data=['a','b','c']
result=list(product(data,repeat=2))
print(result)

from itertools import combinations_with_replacement
data=['a','b','c']
result=list(combinations_with_replacement(data,2))
print(result)

[('1', '2', '3'), ('1', '3', '2'), ('2', '1', '3'), ('2', '3', '1'), ('3', '1', '2'), ('3', '2', '1')]
[('a', 'b'), ('a', 'c'), ('b', 'c')]
[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'b'), ('b', 'c'), ('c', 'a'), ('c', 'b'), ('c', 'c')]
[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'b'), ('b', 'c'), ('c', 'c')]